<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <title><%= html_title yield(:page_title) %></title>
  <%= csrf_meta_tag %>
  <%#= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'default' %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'rails' %>
  <%= open_id_delegation_link_tags(enki_config[:open_id_delegation, :server], enki_config[:open_id_delegation, :delegate]) if enki_config[:open_id_delegation] %>
  <%= yield(:head) %>
<!--[if gte IE 5]>
<style>
	#menu li{padding:1px;margin:0 2px;}
	#menu li a{margin-right:-3px;}
	#banner{margin:0;}
	#content{width:510px}
	#sidebar{padding-left:10px;}
	#container{position:relative;top:-15px;}
	.sidelinks{margin-left:0;}
	#footer{position:relative;bottom:-20px;}
</style>
<![endif]-->
</head>
<body>
<div id="container">
  <div id="banner">
    <h4>sun / <span class="lighter_banner"><%= enki_config[:title] %></span></h4>
  </div>
  <div id="menu">
    <ul>
      <% page_links_for_navigation.each do |link| -%>
        <li><%= link_to(link.name, link.url, :class=>(request.path==link.url) ? "current" : nil) %></li>
      <% end -%>
    </ul>
  </div>
  <div id="sidebar">
    <h3>поиск</h3>
    <div>
        <form method="get" id="sform" action="http://www.google.com/search">
        <fieldset>
        <input type="text" id="q" value="" name="q">
        <input type="hidden" name="sitesearch" value="<%= enki_config[:url] %>">
        <br />
        <a href="#" class="formbutton">
          <input type="submit" value="&raquo;&nbsp;go" class="formbutton" />
        </a>
        </fieldset>
      </form>
    </div>
    <p>автор блога
      <br/>
      <img src="/images/author.jpg" />
      <br/>
      Александр Дмитриев
      <br/>
      <i>Жизнь. Отдых. Работа!</i>
    </p>
        <% unless category_links_for_navigation.empty? -%>
          <h3>категории</h3>
          <ul>
            <% category_links_for_navigation.each do |link| -%>
              <li><%= link_to(link.name, link.url) %></li>
            <% end -%>
          </ul>
        <% end -%>
    <h3>my links</h3>
    <ul class="sidelinks">
      <li><a href="http://ubuntu.ru/">Ubuntu</a></li>
      <li><a href="http://gnome-look.org/">Gnome</a></li>
      <li><a href="http://rubyonrails.org/">RubyOnRails</a></li>
      <li><a href="http://railscasts.com/">Railscasts</a></li>
      <li><a href="https://github.com/sunchess/">My GitHub</a></li>
    </ul>
  </div>
  <div id="content">
    <%= yield %>
  </div>
  <div id="footer">
      <%= enki_config[:title] %> &#169; <%= enki_config[:author, :name] %>.  <%= link_to "ATOM", "http://feedvalidator.org/check.cgi?url=#{enki_config[:url]}/posts.atom" %>. Powered by <a href="http://www.enkiblog.com" title="A Ruby on Rails blogging app for the fashionable developer">Enki</a>.
  </div>
</div>
</body>
</html>
